/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --clr-primary: #ef233c;
    --clr-bg-white: #ffffff;
    --clr-text-white: #ffffff;
    --clr-bg-pink: #ffbff6a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: "Raleway";
    background-color: #ffece92a;
    color: #1e3746;
}

/* General Selectors */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-row-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: .9em;
    line-height: 1.3em;
    padding: 20px 0;
}

a.button {
    text-decoration: none;
    font-size: .8em;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 5px;
    color: var(--clr-primary);
    background-color: var(--clr-bg-white);
    border: 3px solid var(--clr-primary);
    transition: 0.3s;
}

a.button:hover {
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    border: 3px solid var(--clr-primary);
}

main {
    padding: 0 15%;
    margin: 0 auto;
}

section {
    padding: 100px 0 0;
}

/* Header */
header {
    background-image: url(images/hero-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 80vh;
    overflow: hidden;
}

/* Navbar */
nav {
    width: 100vw;
    position: fixed;
    background-color: #fff6f4f2;
    padding: 0 15%;
    overflow: hidden;
}

nav>a {
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
}

nav img {
    width: 60px;
    padding: 5px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 30px 15px;
    color: var(--clr-primary);
    font-size: .8em;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    padding: 30px 15px;
}

/* Hero Section */
.hero-overlay {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.8));
    height: 100%;
}

.hero-text {
    text-align: left;
    width: 35%;
    color: var(--clr-text-white);
    margin: 25vh 15%;
}

.hero-text p {
    padding: 40px 0;
}

/* Video and Image Section */
#video-section .container-left,
#image-section .container-left {
    width: 45%;
    text-align: justify;
}

#image-section img {
    width: 100%;
}

/* How to Send Donation Section */
.send-donation {
    display: flex;
    align-items: flex-start;
    width: 48%;
    background-color: #D0F5FF;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.send-donation img {
    width: 5vw;
    margin: 0 40px 0 20px;
}

/* Statistics Section */
#stats .flex-row-center {
    background-color: #ffae0026;
    padding: 60px 60px 40px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

#stats p {
    padding-top: 10px;
}

/* Extend Help Section */

#extend-help h1,
#donate-zakat h1 {
    margin-bottom: 40px;
}

.involve {
    width: 23%;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 1%;
    background-color: var(--clr-bg-pink);
}

.involve img {
    width: 35%;
}

.involve h4 {
    margin: 25px 0 0;
}

.involve p {
    padding-bottom: 10px;
}

/* Donate Zakat Section */
#donate-zakat .item {
    width: 31%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding-bottom: 30px;
}

#donate-zakat img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
}

#donate-zakat p {
    padding: 20px 10px;
}

/* Subscription Form */
#newsletter input#email {
    width: 260px;
    border: 2px solid var(--clr-primary);
    outline: none;
    line-height: 2em;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    border-right: 0;
}

#newsletter input#submit {
    color: var(--clr-primary);
    background-color: var(--clr-bg-white);
    line-height: 2em;
    font-weight: 600;
    border: 2px solid var(--clr-primary);
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    cursor: pointer;
}

#newsletter input#submit:hover {
    color: var(--clr-bg-white);
    background-color: var(--clr-primary);
}

/* Footer */
footer {
    background-color: var(--clr-bg-pink);
    text-align: center;
    padding: 20px 0;
    margin-top: 80px;
}

footer div {
    padding: 0 15%;
}

footer h2 {
    font-family: 'Lobster';
    color: var(--clr-primary);
}

footer p {
    font-size: .7em;
}

/* Credits */
footer legend {
    color: var(--clr-primary);
    font-weight: 600;
    padding: 0 10px;
}

fieldset p {
    padding: 10px 0;
}

fieldset a {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: bold;
}

fieldset a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}