@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --clr-primary: #ef233c;
    --clr-bg-white: #FFF6F4;
    --clr-text-white: #FFF6F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: "Raleway";
    background-color: #ffe4df2a;
    color: #1e3746;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: .9em;
    line-height: 1.3em;
    text-align: justify;
}

header {
    background-image: url(images/hero-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.hero-overlay {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.8));
    height: 100%;
}

.hero-text {
    text-align: left;
    width: 35%;
    color: var(--clr-text-white);
    margin-left: 15%;
}

.hero-text p {
    margin: 40px 0;
}

a {
    text-decoration: none;
    font-size: .9em;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--clr-primary);
    background-color: var(--clr-bg-white);
    border: 3px solid var(--clr-primary);
    transition: 0.3s;
}

a:hover {
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    border: 3px solid var(--clr-primary);
}

main {
    margin: 0 15%;
}

section {
    margin: 100px 0;
}

#first-section .container,
#second-section .container {
    align-items: flex-start;
    justify-content: space-between;
    height: 320px;
    width: 45%;
    overflow: hidden;
}

#third-section p {
    margin: 20px 0;
}

.send-donation {
    display: flex;
    align-items: flex-start;
    width: 48%;
    background-color: #D0F5FF;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.send-donation .container {
    align-items: flex-start;
    justify-content: space-between;
}

.send-donation img {
    width: 5vw;
    margin: 0 40px 0 20px;
}

#fourth-section {
    background-color: #FFBFF7;
    padding: 60px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#fifth-section .flex-row {
    align-items: flex-start;
    height: 260px;
    padding: auto;
}

#fifth-section h1 {
    margin-bottom: 40px;
}

.involve {
    width: 23%;
    height: 100%;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 1%;
    background-image: linear-gradient(#FFF6F4, #FFBFF7);
}

.involve h4 {
    margin: 25px 0;
}

.involve p {
    text-align: center;
}

.involve img {
    width: 35%;
}